name: IT IS A BLUNDER AT SIX 
on:
  schedule:
   
    - cron: '0 6 * * *'
  workflow_dispatch:
  # push:  
  #   branches: [ main ]

jobs:
  update-content:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Install Dependencies
        run: pip install requests beautifulsoup4
        
      - name: Run Scraper and Cleaner
        run: python bl34Gnderqqq123.py
        
      - name: Commit and Push Changes
        run: |
          git config --global user.name "BLUNDERER"
          git config --global user.email "bot@github.com"
          git add lovestory.json log.txt
          # The following logic is to prevent empty commits if no changes
          if git diff-index --quiet HEAD; then
            echo "No changes to commit"
          else
            git commit -m "blundered - $(date +'%Y-%m-%d %H:%M:%S UTC')"
            git push
          fi
